@import '../../../style/abstract/variables';
@import '../../../style/abstract/mixins';

.header {
    color: rgba($col-primary-dark, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    position: relative;
 
    .icon {
        font-size: 2em;
        position: absolute;
        left: 2.5rem;
    }

    .title {
        font-size: 4em;
        text-align: center;

        span {
            font-size: .7em;

            &::before {
                content: ' - ';
            }
        }

        @include respond(tab-land) {
            span {
                display: block;
                margin: 0 auto;

                &::before {
                    content: '';
                }
            }
        }

        @include respond(small-phone) {
            font-size: 2.5em;
        }
    }
}

.buttonRow {
    color: rgba($col-primary-dark, .4);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    margin: 0 auto 2rem;
    padding: 0 2rem;
    position: relative;

    .bell, .refresh {
        cursor: pointer;
    }

    .bell {
        font-size: 1.5em;
        margin-right: 3rem;
    }

    .refresh {
        font-size: 2em;

        &.refreshing {
            animation: rotateAnim 2.5s linear infinite;
        }
    }
}

@keyframes rotateAnim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}