@import '../../../style/abstract/variables';
@import '../../../style/abstract/mixins';

.header {
    color: rgba($col-primary-dark, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    position: relative;
 
    .icon {
        font-size: 2em;
        position: absolute;
        left: 2.5rem;
    }

    .title {
        font-size: 4em;
        text-align: center;

        span {
            font-size: .7em;

            &::before {
                content: ' - ';
            }
        }

        @include respond(tab-land) {
            span {
                display: block;
                margin: 0 auto;

                &::before {
                    content: '';
                }
            }
        }

        @include respond(small-phone) {
            font-size: 2.5em;
        }
    }

    .refresh {
        font-size: 2em;
        position: absolute;
        right: 10rem;
        bottom: -1em;
        cursor: pointer;

        @include respond(phone) {
            display: none;
        }

        &.refreshing {
            animation: rotateAnim 2.5s linear infinite;
        }
    }
}

@keyframes rotateAnim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}