.wrapper {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

@import '../../../style/abstract/variables';
@import '../../../style/abstract/mixins';

.header {
    position: relative;
    font-size: .5em;
    display: flex;
    align-items: center;

    @include respond(tab-port) {
        margin-top: 1.5rem;
    }

    .inputWrapper {
        flex-grow: 1;
    }

    input {
        text-align: center;
    }

    .checkmark {
        font-size: 1.9em;
        width: 3rem;
    }

    .star {
        font-size: 1.7em;
        @include respond(phone) { font-size: 2.25em;}
        position: absolute;
        left: -5rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: all;
    }

    .reminder {
        font-size: 1.7em;
        @include respond(phone) { font-size: 2.25em;}
        position: absolute;
        left: -2.5rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: all;
    }

    &.checked {
        opacity: .5;

        .inputWrapper {
            padding-left: 3rem;
        }
    }
}

.content {
    text-align: center;

    .row {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .3rem .2rem;
        &:not(:last-child) {margin-bottom: .5rem;}

        @include respond(phone) {
            margin-bottom: 1.5rem;
            flex-direction: column;
            span { margin-bottom: .7rem; }
        }

        span {
            display: flex;
            align-items: center;

            .infoIcon {
                width: 14px;
                height: 14px;
                margin-left: 1rem;
            }

            .checkAddInfo {
                margin: 0 2rem;
            }
        }

        .addInfoTextarea {
            flex-grow: 1;
            @include respond(phone) { width: 100%;}

            textarea {
                resize: vertical;
                width: 100%;
            }
        }

        .datetimepicker {
            cursor: pointer;
            background-color: rgba(#fff, .7);
            border: 2px solid rgba($col-primary-dark, .7);
            border-radius: 2px;
            padding: .1em .3em;
            min-width: 13em;
            color: $col-primary-dark;
        }

        .intervalOptions {
            max-width: 65%;

            @include respond(phone) {
                max-width: initial;
            }
        }

        .addNotificationsArea {
            margin-left: 2rem;

            .notRow {
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    min-width: 30rem;
                    background-color: rgba(#fff, .05);
                    border-radius: 5px;
                    padding: 2px 10px;
                }

                button {
                    margin-left: 3rem;
                }

                &.notRowNots {
                    flex-direction: column;

                    .not {
                        width: 100%;
                        margin-top: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        span {

                        }

                        button {

                        }
                    }
                }
            }
        }
    }

    .btnRow {
        text-align: center;
        padding: 1.5rem 0 .8rem;
    
        @include respond(tab-port) {
            font-size: 1.3em;
        }
    }
}