@import '../../style/abstract/mixins';

.row {
    width: 50%;

    margin: 1.5rem auto;

    @include respond(tab-land) {
        width: 80%;
    }

    @include respond(tab-port) {
        width: 60%;
    }

    @include respond(phone) {
        width: 80%;
        font-size: 1.2em;
    }

    @include respond(small-phone) { width: 90%;}

    max-width: 60rem;
    
}