@import '../../../style/abstract/mixins';
@import '../../../style/abstract/variables';

.wrapper {
    position: relative;
    padding: 5rem;
    padding-bottom: 22vw;
    @include respond(tab-land) {padding: 3rem 2rem inherit;}
    @include respond(phone) {padding-bottom: 66vw;}
    @include respond(small-phone) {padding-bottom: 75vw;}
    color: white;
    background: rgb(34,40,49);
    background: $hero-gradient;
    .waveTop {
        z-index: 10;
        position: absolute;
        bottom: 0;
        margin: 0 -2.5rem;
    }

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include respond(phone) {align-content: flex-start;}
    .showcase {
        flex-grow: 1;
        flex-basis: 50%;
        // flex: 1 0 50%;
        max-width: 50%;
        @include respond(phone) {max-width: unset;}
    }

    .ctaArea {
        flex-grow: 1;
        flex-basis: 50%;
        // flex: 1 0 50%;
        @include respond(phone) {order: -1; min-width: 100vw; margin-bottom: 4rem;}
        text-align: center;
        // height: 60%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        h1 {
            font-size: 8rem;
            @include respond(tab-port) {font-size: 6rem;}
            @include respond(small-phone) {font-size: 4.5rem;}
            text-transform: uppercase;
            transform: rotate(-3deg);
        }

        .nameBrand {
            align-self: flex-end;
            display: flex;
            align-items: flex-end;
            padding-right: 20%;
            margin-bottom: 10%;

            .by {
                padding: 0 2rem .5rem 0;
                font-size: 1.3em;
                font-style: italic;
            }
        }
    }
}

.slogan {
    text-align: center;
    font-size: 2em;
    margin-bottom: -.8em;
    position: relative;
    z-index: 1000;
    @include respond(phone) {
        font-size: 1.5em;
        margin-bottom: unset;
    }
}

.waveBottom {
    transform: rotate(180deg);
    position: relative;
    z-index: 100;
}