@import '../../../style/abstract/mixins';
@import '../../../style/abstract/variables';

.wrapper {
    position: relative;
    padding: 5rem;
    @include respond(phone) { padding-top: 0;}
    padding-bottom: 15vw;
    @include respond(tab-land) {padding: 3rem 2rem inherit;}
    @include respond(phone) {padding-bottom: 50vw;}
    @include respond(small-phone) {padding-bottom: 60vw;}
    color: white;
    background: rgb(34,40,49);
    background: $hero-gradient;
    @include respond(phone) {
        background: unset;
    }
    .waveTop {
        z-index: 10;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
    }

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include respond(phone) {align-content: flex-start;}
    .showcase {
        flex-grow: 1;
        flex-basis: 50%;
        max-width: 50%;
        @include respond(phone) {max-width: unset;}
    }

    .nameBrand {
        position: absolute;
        top: 0;
        left: 5rem;
        @include respond(phone) { left: 3rem;}
        z-index: 1000;
    }

    .ctaArea {
        flex-grow: 1;
        flex-basis: 50%;
        @include respond(phone) {order: -1; min-width: 100vw;}
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        h1 {
            position: relative;
            font-size: 8rem;
            @include respond(tab-port) {font-size: 6rem;}
            @include respond(small-phone) {font-size: 5rem;}
            text-transform: uppercase;
            margin-bottom: 4rem;

            .arrow {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 5px;
                width: 100%;
                background-color: #fff;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: -7px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 7px 0 7px 9px;
                    border-color: transparent transparent transparent #fff;

                }
            }
        }

        .ctaBtn {
            font-size: 3rem;
            @include respond(tab-port) { font-size: 2.5rem;}
            @include respond(phone) { font-size: 3rem;}
            @include respond(small-phone) { font-size: 2.5rem;}
        }

        .login {
            margin-top: 2rem;
        
            a {
                outline: none;
                text-decoration: underline;
                color: inherit;
                font-size: 1.3em;

                &:hover {
                    color: rgba(#fff, .5);
                    text-decoration: none;
                }
            }
        }

        .sloganMobile,
        .downArrow {
            display: none;
        }

        @include respond(phone) {
            padding-top: 15vh;
            min-height: 95vh;
            margin-bottom: 5vh;
            background-color: #fff;
            color: #000;
            position: relative;

            h1 {
                letter-spacing: 2px;
                .arrow {
                    background-color: #000;
                    &::after {
                        border-color: transparent transparent transparent #000;
                    }
                }
            }

            .ctaAndLogin {
                color: #fff;
                background-image: $hero-gradient;
                width: 100vw;
                padding: 5rem 0;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                // margin-top: 3rem;
                clip-path: polygon(0 0, 100% 2rem, 100% 100%, 0 calc(100% - 2rem));

                .ctaBtn {
                    @include respond(small-phone) { font-size: 1.7em; }
                }
            }

            .sloganMobile {
                font-style: italic;
                font-weight: 600;
                font-size: 2.5rem;
                @include respond(small-phone) { font-size: 2rem;}
                display: block;
                position: absolute;
                left: 0;
                padding: 0 2rem;
                width: 100%;
                bottom: 15rem;
                @media (max-height: 30em) {
                    bottom: 10rem;
                }
                @media (max-height: 23em) {
                    bottom: 5rem;
                }
                text-align: center;
            }

            .downArrow {
                cursor: pointer;
                display: block;
                position: absolute;
                bottom: 9rem;
                @media (max-height: 30em) {
                    bottom: 6rem;
                }
                @media (max-height: 23em) {
                    bottom: 2rem;
                }
                left: 50%;
                transform: translateX(-50%);
                width: 8px;
                height: 3rem;
                background-color: #000;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 11px 8px 0 8px;
                    border-color: #000 transparent transparent transparent;
                }
            }
        }
    }
}

.slogan {
    text-align: center;
    display: block;
    margin: auto;
    font-size: 2em;
    margin-bottom: -.8em;
    position: relative;
    z-index: 1000;
    @include respond(phone) {
        display: none;
    }
}

.waveBottom {
    transform: rotate(180deg);
    width: 105vw;
    position: relative;
    z-index: 100;
}
