@import '../../../style/abstract/variables';

.header {
    
    font-size: .5em;

    input {
        text-align: center;
    }
}

.content {
    text-align: center;

    .row {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: .3rem .2rem;


        input.datetimepicker {
            background-color: rgba(#fff, .7);
            appearance: none;
            border: 2px solid rgba($col-primary-dark, .7);
            border-radius: 2px;
            padding: .1em .3em;
        }
    }

    .btnRow {
        text-align: center;
        padding: 1.5rem 0 .8rem;
    }
}