@import '../../../style/abstract/variables';
@import '../../../style/abstract/mixins';

.header {
    
    font-size: .5em;

    @include respond(tab-port) {
        margin-top: 1.5rem;
    }

    input {
        text-align: center;
    }
}

.content {
    text-align: center;

    .row {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: .3rem .2rem;

        @include respond(phone) {
            margin-bottom: 1.5rem;
        }


        .datetimepicker {
            cursor: pointer;
            background-color: rgba(#fff, .7);
            border: 2px solid rgba($col-primary-dark, .7);
            border-radius: 2px;
            padding: .1em .3em;
            min-width: 13em;
            color: $col-primary-dark;
        }

        .intervalOptions {
            max-width: 65%;
        }
    }

    .btnRow {
        text-align: center;
        padding: 1.5rem 0 .8rem;
    
        @include respond(tab-port) {
            font-size: 1.3em;
        }
    }
}