@import '../../../style/abstract/mixins';

.wrapper {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    height: 85rem;
    @include respond(phone) { 
        flex-wrap: wrap;
        height: auto;
        margin: 5rem 0;
    }

    .imgArea {
        position: relative;
        flex: 50%;
        @include respond(phone) {
            flex: 100%;

            &.minHeight {
                height: auto;
            }
        }
    }

    .textArea {
        flex: 50%;
        @include respond(phone) { flex: 100%;}
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 5rem;

        @include respond(phone) { 
            order: -1;
            margin-bottom: 3rem;
        }
    }

    &.left {
        .textArea {
            order: -1;
        }
    }
}