@import '../abstract/_variables';

.util-card {
    background-color: #fff;
    border-radius: 3rem;
    padding: 4rem;
    box-shadow: 0 0 4rem rgba(#000, .08);
}

.util-bg-light {
    background-color: lighten($color: $col-primary-light, $amount: 75);
}