@import '../../../style/abstract/variables';
@import '../../../style/abstract/mixins';

.wrapper {
    width: 90%;
    margin: auto;

    .dayWrapper {
        margin-bottom: 3rem;
    }
}

.noTodoToday {
    display: flex;
    color: $col-primary-light;
    justify-content: space-around;
    align-items: center;;
    width: 60%;
    margin: auto;

    svg {
        font-size: 3em;
    }
}
.animMargin {
    animation: animateMargin .2s forwards;
    animation-timing-function: ease-out;
}
@keyframes animateMargin {
    from {
        margin: 0 auto;
    }
    to {
        margin: 2rem auto;
    }
}

.noTodo {
    animation: fadeIn .8s;
    display: flex;
    width: 60%;
    margin: auto;
    color: $col-primary-light;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
    text-align: center;

    svg {
        font-size: 7.5rem;
    }

    @include respond(tab-port) {
        flex-direction: column;
        justify-content: space-evenly;
    }

    @include respond(phone) {
        width: 90%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}