@import '../../../style/abstract/variables';
@import '../../../style/abstract/mixins';

.wrapper {
    width: 90%;
    margin: auto;

    &.small {
        width: 100%;

        .dayWrapper {
            margin-bottom: .3rem;
            font-size: .8em;
        }
    }

    .dayWrapper {
        margin-bottom: 2rem;
    }
}

.noTodoToday {
    display: flex;
    color: $col-primary-light;
    justify-content: space-around;
    align-items: center;;
    width: 80%;
    margin: auto;
    @include respond(phone) { flex-wrap: wrap;}

    svg {
        font-size: 3em;
    }
    
    h2 {
        font-size: 3rem;
        @include respond(tab-land) { max-width: 70%;}
        @include respond(phone) { 
            font-size: 2.5rem;
            display: block; 
            text-align: center; 
            width: 100%; 
            max-width: unset;
            margin-top: 1rem;
        }
    }

    
}
.animMargin {
    animation: animateMargin .2s forwards;
    animation-timing-function: ease-out;
}
@keyframes animateMargin {
    from {
        margin: 0 auto;
    }
    to {
        margin: 2rem auto;
    }
}

.noTodo {
    animation: fadeIn .8s;
    display: flex;
    width: 60%;
    margin: auto;
    color: $col-primary-light;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
    text-align: center;

    svg {
        font-size: 7.5rem;
    }

    @include respond(tab-port) {
        flex-direction: column;
        justify-content: space-evenly;
    }

    @include respond(phone) {
        width: 90%;
    }

    h2 {
        font-size: 5rem;
        @include respond(phone) { font-size: 4rem;}
        @include respond(small-phone) { font-size: 3rem;}
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}