@import '../../../style/abstract/mixins';
@import '../../../style/abstract/variables';

.wrapper {
    width: 100%;
    min-height: 100vh;
}

.settingsCard {
    display: block;
    width: 90%;
    margin: 2rem;
    min-height: 90vh;
    border-radius: 3rem;
    padding: 3rem 7% 6rem;
    overflow: hidden;
    position: relative;
    
    z-index: 10;

    .header {
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .titleInput {
            width: 80%;
        }

        .trashIcon {
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            font-size: 2.5rem;
            cursor: pointer;
            position: relative;

            svg {
                @include absCenter;
            }

            transition: all .2s;

            &:hover {
                background-color: rgba(#000, .1);
            }
        }
    }

    .settingsArea {
        margin-top: 4rem;
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "tasks events exams";
        column-gap: 2rem;
        row-gap: 2rem;

        @include respond(tab-land) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
                "events exams"
                "tasks tasks";
        }

        @include respond(phone) {
            grid-template-columns: 100%;
            grid-template-areas: 
                "tasks"
                "events"
                "exams";
        }

        .eventsArea {
            grid-area: events;
        }

        .tasksArea {
            background-color: yellow;

            grid-area: tasks;
        }

        .examsArea {
            background-color: green;

            grid-area: exams;
        }
    
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 6rem;
        padding: 0 4rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .saveBtn {
            background-image: linear-gradient(to bottom, $col-primary-light, $col-primary-dark);

            &:hover {
                background-image: linear-gradient(
                    to bottom, 
                    darken($col-primary-light, 5%), 
                    darken($col-primary-dark, 5%)
                );
            }

            &:disabled {
                opacity: 1;
            }
        }
    }

}