@import '../../../style/abstract/mixins';

.wrapper {
    width: 100%;
    min-height: 100vh;
}

.settingsCard {
    display: block;
    width: 90%;
    margin: 2rem;
    min-height: 90vh;
    border-radius: 3rem;
    padding: 3rem 7%;


    background-color: orangered;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .trashIcon {
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            font-size: 2.5rem;
            cursor: pointer;
            position: relative;

            svg {
                @include absCenter;
            }

            transition: all .2s;

            &:hover {
                background-color: rgba(#000, .1);
            }
        }
    }
}