.wrapper {
    width: 100%;
    min-height: 100vh;
}

.settingsCard {
    display: block;
    width: 90%;
    margin: 2rem;
    min-height: 90vh;
    border-radius: 3rem;
    padding: 3rem 7%;


    background-color: orangered;
}