@import './abstract/mixins';

.react-datepicker {
    animation: inAnim .2s;
    font-size: 2rem !important;
    @include respond(tab-land) { font-size: 1.4em !important;}
    @include respond(tab-port) { font-size: 2rem !important;}
    // @include respond(phone) { font-size: 1em !important;}
    @include respond(small-phone) { font-size: 4vw !important;}
}
.react-datepicker__header {
    padding-top: 0.8em !important;
}
.react-datepicker__month {
    margin: 0.4em 1em !important;
}
.react-datepicker__day-name, .react-datepicker__day {
    width: 1.9em !important;
    line-height: 1.9em !important;
    margin: 0.166em !important;
}
.react-datepicker__current-month {
    font-size: 1em !important;
}
.react-datepicker__navigation {
    top: 1em !important;
    line-height: 1.7em !important;
    border: 0.45em solid transparent !important;
}
.react-datepicker__navigation--previous {
    border-right-color: #ccc !important;
    left: 1em !important;
}
.react-datepicker__navigation--next {
    border-left-color: #ccc !important;
    right: 7.5em !important;
}
.react-datepicker__time-container {
    width: 4.5em !important;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: auto !important;
}

@keyframes inAnim {
    from {
        transform: scale(.01);
    }
    to {
        transform: scale(1);
    }
}

.fc {

    
        @include respond(phone) {
            &-next-button,
            &-prev-button {
                height: 6rem;
                width: 6rem;
            }
            &-today-button {
                height: 5rem;
                min-width: 8rem;
            }

            &-header-toolbar {
                .fc-right {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;

                    .fc-button-group {
                        margin-top: 1rem;
                    }
                }
            }
        }

        @include respond(small-phone) {
            &-list-table &-list-item {
                display: grid;
                grid-template-columns: 10% 90%;
                grid-template-rows: auto;
                grid-template-areas: 
                    "color time"
                    "title title";
                td {
                    display: block;
                    width: auto;
                    &:nth-child(1) {
                        grid-area: time;
                    }
                    &:nth-child(2) {
                        grid-area: color;
                    }
                    &:nth-child(3) {
                        grid-area: title;
                    }
                }
            }
        }
        
}