@import '../../../style/abstract/variables';

.wrapper {
    display: block;
    position: relative;

    .input {
        width: 100%;
        background: none;
        border: none;
        border-bottom: 1px solid $col-primary-light;
        line-height: 2em;

        &.transparent {
            border: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 2em;

            &:not(:placeholder-shown) {
                cursor: pointer;
            }
        }
    }

    .label {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 2em;
        line-height: .8em;
        opacity: 1;

        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;

        transition: all .2s ease-out;
    }

    .input.transparent + label {
        top: 50%;
        transform: translateY(-50%);
    }

    .input:not(.transparent):not(:placeholder-shown) + label {
        transform: translate(-1rem, -100%);
        font-size: 1.3rem;
        color: $col-primary-dark;
    }

    .input.transparent:not(:placeholder-shown) + label {
        opacity: 0;
    }

    .selectVisual {
        cursor: pointer;

        &:not(:last-child) {
            margin-right: .4rem;
        }

        input {
            position: absolute;
            height: 0;
            width: 0;
            opacity: 0;

            &:checked + span {
                background-color: $col-secondary-dark;
            }
        }

        span {
            font-size: .85em;
            background-color: $col-primary-light;
            padding: .1em .4em;
            border-radius: 50rem;
            border: 2px solid $col-primary-light;

            transition: all .1s ease-out;
        }
    }
}