@import '../../../style/abstract/variables';
@import '../../../style/abstract/mixins';

.wrapper {
    background-color: $col-secondary-light;
    padding-top: 7rem;
    padding-bottom: 10rem;

     h4 {
         text-align: center;
         font-size: 5rem;
         font-weight: bold;
         margin: 0 0 3rem;
     }

     .orderVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        overflow: hidden;
        opacity: .8;
        filter: brightness(.8) blur(2px);
        @include respond(tab-port) {filter: brightness(1) blur(0);}

        transition: filter 1s ease-in-out;
        &:hover {
            filter: brightness(1) blur(0);
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
     }

     .ctaBtn {
         margin: 10rem auto 0;
     }
}