@import '../../../../style/abstract/mixins';
@import '../../../../style/abstract/variables';

.wrapper {
    background-color: #eee;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "weekday date amount";
    padding: 1rem 10rem 1rem 3rem;
    align-items: center;

    @include respond(small-phone) {
        padding: 1rem 3rem 1rem 3rem;
    }

    @include respond(phone) {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "weekday amount"
            "date stars";
        row-gap: .3rem;
    }
    
    .weekday {
        grid-area: weekday;
        text-transform: capitalize;

        &.today {
            font-size: 1.5em;
        }
    }

    .date {
        text-align: center;
        grid-area: date;

        @include respond(phone) {
            text-align: left;
        }
    }

    .amount {
        text-align: right;
        grid-area: amount;

        i {
            margin-left: 1rem;
            visibility: hidden;
            opacity: 0;
            @include respond(phone) { display: none;}

            svg {
                color: $col-primary-light;
                transition: .3s all;
            }

            &.show {
                visibility: visible;
                opacity: 1;
            }

            &:hover svg {
                filter: drop-shadow(1px 1px 2px rgba($col-primary-light, .5));
                transform: scale(1.05);
            }
        }
    }

    .starsMobile {
        display: none;
        grid-area: stars;
        text-align: right;
        margin-right: 1rem;

        svg {
            color: $col-primary-light;
        }

        @include respond(phone) { display: initial;}
    }
}