@import '../../../style/abstract/variables';

.wrapper {
    position: relative;

    .header {
        position: relative;
        cursor: pointer;
        padding: .5rem 2rem;

        .arrow {
            position: absolute;
            right: .5rem;
            top: 50%;
            transform: translateY(-50%) rotate(0);

            transition: transform .2s ease-in-out;
        }
        
        .headerContent {
            max-width: 80%;
            margin: auto;

            input:not(:placeholder-shown) {
                cursor: text;
            }
        }
    }

    .content {
        padding: 0 1rem .5rem;
        position: relative;
        opacity: 1;
        transition: opacity .3s;
    }

    &::after {
        content: '';
        display: block;
        height: 2px;
        background-color: rgba($col-primary-dark, .5);
        position: absolute;
        bottom: -.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        transition: width .3s ease-out;
        transition-delay: .5s;
    }

    &.collapsed {
        
        .header {

            .headerContent {
                pointer-events: none;
            }
        
            .arrow {
                transform: translateY(-50%) rotate(-180deg);
            }
        }

        &::after {
            width: 40%;
            transition: width .5s ease-out;
            transition-delay: 0;
        }

        .content {
            opacity: 0;
        }
    }
}