@import '../../../../style/abstract/mixins';

.wrapper {
    position: relative;
    width: 97%;
    margin: 2rem auto 0;
    border-radius: 1.5rem;
    background-image: linear-gradient(to bottom right, rgba(#fff, 0) 30%, rgba(#fff, .2));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;

    .bell {
        position: absolute;
        font-size: 4.5rem;
        opacity: .3;
        left: 50%;
        transform: translateX(-50%) rotate(15deg);
    }

    @include respond(phone) {
        padding: 1rem 6rem 1rem 8rem;
    }

    @include respond(small-phone) {
        padding: 1rem 3rem 1rem 7rem;
    }

    &.small {
        margin: .3rem auto 0;
        width: 90%;
    }
    
    .checkWrapper {
        position: absolute;
        left: 1.5rem;

        &::before {
            content: '';
            @include absCenter;
            display: block;
            width: .1px;
            height: .1px;
            border-radius: 50%;
            box-shadow: 0 0 15px 1em rgba(#fff, .7);
        }
    }

    .titleTask {
        min-width: 100%;
        text-transform: uppercase;
        line-height: 1.5em;
        font-weight: bold;
        display: flex;
        align-items: center;

        @include respond(tab-port) {
            font-size: 1.15em;
        }

        small {
            font-size: .7em;
            margin-left: 1rem;
            opacity: .8;
        }
    }

    .titleSub {
        text-transform: capitalize;

    }

    .dueAt {

    }

    .options {
        position: absolute;
        top: .5rem;
        right: 1.5rem;
        display: block;

        > *:not(:last-child) {
            margin-right: 1rem;
        }

        .moreInfo,
        .additionalText,
        .change {
            cursor: pointer;
            opacity: .4;

            transition: all .25s;
            &:hover {
                opacity: .8;
            }

            &.highlight {
                opacity: .75;
            }
        }
    }
}