@import '../../style/abstract/mixins';

.wrapper {
    width: 40%;
    margin: auto;

    @include respond(tab-land) {
        width: 60%;
    }

    @include respond(tab-land) {
        width: 40%;
    }

    @include respond(phone) {
        width: 80%;
        font-size: 1.2em;
    }
    max-width: 50rem;

    .row {

    }
}