@import '../../../style/abstract/mixins';
@import '../../../style/abstract/variables';

.wrapper {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    
    &:not(:last-child) {
        @include respond(small-phone) { margin-bottom: 1rem;}   
    }
    
    @include respond(phone) {
            padding-bottom: 1rem;
            border-bottom: $settings-line;
        }
    
    .name {

        .info {
            margin: 0 2rem;
            height: .8em;
        }

        @include respond(small-phone) {
            min-width: 100%;
        }
    }

    .input {
        margin: 1rem 0;

        input[type="number"] {
            max-width: 7.5rem;
            @include respond(phone) { max-width: 6rem;}
        }
    }
}